.box {
  height: 84px;
  width: 1920px;
  }
  .box .rectangle {
    background-color: #00317c;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #000000;
    border-top-style: solid;
    border-top-width: 1px;
    height: 84px;
    left: 0;
    position: fixed;
    top: 0;
    width: 1920px;
    justify-content: space-evenly;
  }

.image {
  width: 82px;
  height: 77px;
  }
  .image .healthy-eating-app {
    position: fixed;
    width: 82px;
    height: 77px;
    top: 4px;
    left: 48px;
  }


.label {
  height: 50px;
  width: 284px;
  position: relative;
  }
  .label .text-wrapper {
    text-shadow: -1px 0 black, 1px 0 black, 0 -1px black, 0 1px black;
    color: #ffffff;
    font-family: IM FELL Double Pica-Regular;
    font-size: 40px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: fixed;
    top: 0;
    margin-left: 134px;
    margin-top: 16px;
  }


.form{

  position: relative;
  }
  .form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

  }
  .form span{

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
  }

.left-pan{
  padding-left: 7px;
  }
  .left-pan i{
  
  padding-left: 10px;
  }

.form-input{

  height: 55px;
  text-indent: 50px;
  border-radius: 10px;
  }
  .form-input:focus{

    box-shadow: none;
    border:none;
  }

.box1 {

  }
  .rectangle1 {
    background-color: #d9d9d9;
    border-radius: 15px;
    left: 0;
    top: 0;
    width: 890px;
  }

#search-bar {
  position: absolute;
}

.box2 {
  height: 50px;
    position: relative;
    width: 334px;
    left: 14rem;
  }
  .box2 .group {
    position: relative;
    height: 50px;
    left: 0;
    top: 0;
    width: 334px;
  }
  .box2 .overlap-group-wrapper {
    height: 50px;
    left: 177px;
    position: absolute;
    top: 0;
    width: 159px;
  }
  .box2 .overlap-group {
    background-color: #05149a;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 4px 4px 4px #00000080;
    height: 50px;
    position: relative;
    width: 157px;
  }
  .box2 .text-wrapper {
    text-shadow: -1px 0 black, 1px 0 black, 0 -1px black, 0 1px black;
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 34px;
    font-weight: 400;
    height: 30px;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 8px;
    white-space: nowrap;
    width: 126px;
  }
  .box2 .overlap-wrapper {
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 159px;
  }
i.fa{

  }
  i.fa.fa-microphone {
    font-size: 1.6rem;
  }
  i.fa.fa-search {
    font-size: 1.5rem;
    top: 0.9rem;
  }
  